#card-pesquisador{
  border: solid 1px silver;
  margin-right: 10px;
  border-radius: 5px;
  width: 350px;
}

.img-pesquisador{
    height: 120px;
    width: 120px;
    border-radius: 100%;
}

.container-texto{
    padding-top: 10px;
    margin-left: 30px;
}


.title-pesquisador{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.15em;
  letter-spacing: -0.5px;
  padding: 0;
}  

.email-pesquisador{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.15em;
    letter-spacing: -0.5px;
    padding: 0;
  }  

.container-bottom button{
    border: none;
    width: 300px;
    height: 60px;
    background-color: #920609;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

.swiper{
  display: flex;
}


  